@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap');

:root {
  /* ### Primary */
  --darkIntroEmail: hsl(217, 28%, 15%);
  --darkMain: hsl(218, 28%, 13%);
  --darkFooter: hsl(216, 53%, 9%);
  --darktestimoinals: hsl(219, 30%, 18%);
  /* ### Accent */
  --cyanCall-to-action: hsl(176, 68%, 64%);
  --blueCall-to-action: hsl(198, 60%, 50%);
  --lightRedError: hsl(0, 100%, 63%);
  /* ### Neutral */
  --White: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: black
  /* font-family: 'Raleway', sans-serif; */
}

/* all anchor */
a {
  text-decoration: none;
  color: inherit;
}



/* footer section  */
.footer {
  background-color: var(--darkFooter);
  color: white;
  padding: 100px 15px 30px;
  font-size: 15px;
  overflow: visible;
  z-index: -1;
}

.bottom-logo {
  margin: 20px 0;
}

.bottom-grid {
  display: grid;
  grid-template-rows: 200px 200px auto;
  grid-gap: 1rem;
}

.contact {
  display: grid;
  grid-template-columns: 30px auto;
}

.contact-icon {
  margin-top: 5px;
}

.pages {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.pages a:hover{
  text-decoration: underline;
}

.first-page-links , .second-page-links {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.soical-links {
  text-align: center;
}

.soical-links i {
  border-radius: 50%;
  border: 1px solid #ebfbff;
  padding: 0.55em 0.7em;
  margin: 0 5px;
}

.fa-facebook-f:before {
  content: '\f39e';
}

.fa-twitter:before {
  content: '\f099';
}

.fa-instagram:before {
  content: '\f16d';
}

.soical-links i:hover {
  color: var(--lightRedError);
  border: 1px solid var(--lightRedError);
}

.copy-right {
  margin: 20px 0;
  text-align: center;
}

/* attribution */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
